body {
  margin: 0;
  background: #0f1923;
  color: #ece8e1;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

.screen {
  display: none;
  height: 100vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.active {
  display: flex;
}

h1 {
  font-size: 48px;
  letter-spacing: 5px;
}

button {
  background: #ff4655;
  border: none;
  padding: 15px 25px;
  margin: 10px;
  font-size: 16px;
  cursor: pointer;
}

.agents button {
  background: #1f2a35;
  border: 2px solid #ff4655;
  color: white;
}

#lockBtn {
  display: none;
}

#countdown {
  font-size: 24px;
  margin-bottom: 20px;
}
